* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 8px;
}

.hero-image {
    width: 500px;
}

.header {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header .title,
.header .header-logo {
    color: #f9f1f8;
}

.header .title {
    font-size: 48px;
    font-weight: 900;
}

.header .header-logo {
    font-size: 24px;
    font-weight: 800;
}

.header .secondary-text,
.header .nav a {
    color: #e5e7eb;
}

.header .nav a {
    text-decoration: none;
    font-size: 18px;
}

.header .nav {
    display: flex;
    justify-content: space-around;
}

.header .nav ul {
    display: flex;
    gap: 32px;
}

.header .header-main {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.header .header-main .header-main-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}